.col-sm-6 { 
    margin-bottom: 30px;  
    display: flex;  
}
.row {
    display: flex;  
    
}

.card {
    align-items: center; width: 100%;
    background-color: #95dada !important;
    padding: 25px 17px;
    /* backface-visibility: hidden;
    transform: translateZ(0); */
    transform: scale(1);
    transition: all .25s ease;
    cursor: pointer; 
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, .2);
}

.card img {
     object-fit: contain;
}
.card h2 {
      font-size: 23px;
}
.card p {
    font-weight: 400;
}